<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <blockquote>
        <h1>Students Record</h1>

        {% if messages %} {% for message in messages %} {{message}} {% endfor %} {% endif %}

        <hr />
        <form action="" method="post">
            {% csrf_token %}
            <label for="name">Full Name</label><br />
            <input type="text" name="name" required id="name" /><br />
            <label for="email">Email</label><br />
            <input type="email" name="email" required id="email" /><br />
            <label for="address">Address</label><br />
            <input type="text" name="address" required id="address" /><br />
            <label for="phone">Phone</label><br />
            <input type="number" name="phone" required id="phone" /><br />

            <button>Add Record</button>
        </form>
        <hr />

        <table width="100%" border="1">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for student in studentData %}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.address}}</td>
                    <td>{{student.phone}}</td>
                    <td>
                        <a href="{% url " edit " student.id%}">Edit</a>
                        <a href="{% url " delete " student.id%}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </blockquote>
</body>

</html>